<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cesebe.turkbilimadamlari">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".fragment_tip_activity"></activity>
        <activity android:name=".fragment_tip" />
        <activity android:name=".fragment_proje_activity" />
        <activity android:name=".fragment_cografya_activity" />
        <activity android:name=".fragment_tarih_activity" />
        <activity android:name=".fragment_kimya_activity" />
        <activity android:name=".fragment_fizik_activity" />
        <activity android:name=".matematik" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>